body {
    background-color: rgb(248, 240, 209);
  }
  
  body {
    display: block;
    text-align: center;
  }
  
  .canvas-container {
    padding: 0;
    margin: auto;
    position: relative;
    width: 1100px;
    height: 680px;
    border: solid 15px rgb(192, 239, 208);
    border-radius: 40px;
  }
  
  .another-canvas-container {
    padding: 0;
    margin: auto;
    position: relative;
    width: 1100px;
    height: 680px;
    border: solid 15px rgb(192, 239, 208);
    border-radius: 40px;
  }
  
  .game-canvas {
    display: block;
    position: absolute;
  }
  
  .menu-button {
    position: absolute;
    right: 15%;
    top: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
  }
  
  .menu-button li {
    cursor: pointer;
    margin: 0px auto;
    margin-top: 20px;
    width: 150px;
    padding: 20px;
    color: #313133;
    font-family: "DynaPuff", cursive;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background: linear-gradient(90deg, rgb(238, 239, 162) 10%, rgb(208, 191, 231) 80%);
    border: none;
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(39, 136, 126, 0.64);
    transition: all 0.3s ease-in-out 0s;
    z-index: 1001;
  }
  
  .menu-button li:hover, #return-to-menu:hover {
    color: #e4fffd;
    transform: translateY(-6px);
  }
  
  #instructions-text {
    position: absolute;
    right: 13%;
    top: 50%;
    color: #d9d9d9;
    margin: 0 auto;
    width: 200px;
    height: 240px;
    border-radius: 80px;
  }
  

  #instructions-text img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  #return-to-menu {
    cursor: pointer;
    position: absolute;
    z-index: 1001;
    right: 15%;
    bottom: 5%;
    width: 100px;
    font-family: "DynaPuff", cursive;
    margin: 0px auto;
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(84, 79, 79);
    border-radius: 100px;
    background: linear-gradient(0.25turn, rgb(172, 255, 236) 10%, pink 70%);
  }
  
  .social-buttons {
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
  }
  
  .social-buttons img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  
  .social-buttons img:hover {
    cursor: pointer;
    transform: translateY(-6px);
  }
  
  .game-settings-buttons {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .game-settings-buttons img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }
  
  .game-settings-buttons img:hover {
    cursor: pointer;
    transform: translateY(-6px);
  }
  
  #game-canvas {
    border-radius: 25px;
  }
  
  .hidden {
    display: none;
  }

  #playGameImg{
    display: flex;
    justify-content: center;
  }

  #water-img:hover{
    cursor: pointer;
    transform: translate(-6px);
  }

  #health{
    top: 50%
  }

  .sunny-status{
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  
  