body{
  background-color: cornsilk;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  display:block;
  text-align: center;
}

.canvas-container{
  padding: 0;
  margin: auto;
  position: relative;
  width: 1100px;
  height: 680px;
}

.game-canvas{
  display: block;
  position: absolute;
}

.menu-button{
  position: absolute;
  right: 22%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

.menu-button li {
  cursor:pointer;
  margin: 0px auto;
  margin-top: 20px;
  width: 200px;
  padding: 20px;
  color: #313133;
  font-family: "Trebuchet MS", Arial, Verdana;   
  border-radius: 16px;
  text-shadow: 1px 1px rgb(73, 73, 73); 
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background: linear-gradient(90deg, rgb(115, 211, 198) 0%, rgb(80, 204, 192) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(39, 136, 126, 0.64);
  transition: all 0.3s ease-in-out 0s;
  z-index: 1001;
}

.menu-buttons li:hover, #return-to-menu:hover {
  color: #e6e6e6;
  transform: translateY(-6px);
}

#instructions-text {
  position:absolute;
  right:13%;
  top:40%;
  color: #d9d9d9;
  margin: 0 auto;
  width: 465px;
  height: 358px;
}

.social-buttons {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
}
.social-buttons img {
  margin-right: 10px;
  width: 34px;
  height: 34px;
}
.game-settings-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 15px;
}

.game-settings-buttons img {
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
}

.game-settings-buttons img:hover {
  cursor: pointer;
}

#game-canvas {
  border-radius: 25px;
}

